<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="newsview.component.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<form #books="ngForm">
</form>
<section class="recentNews">
    <div class="container">
        <h1 class="news-title" style="color: black;">Recent News</h1>
        <div class="row">
            <div *ngFor=" let b of newsService.news" class="ct-blog col-sm-6 col-md-4">
                <div class="inner">
                    <div>
                        <p style="font-size: 20px;">{{b.category}}</p>
                    </div>
                    <div class="ct-blog-content">
                        <div class="ct-blog-date">
                            <span>{{b.date.split('T')[0]}}</span>
                        <strong>{{b.location}}</strong>
                        </div>

                        <h3 class="ct-blog-header">
                            {{b.headline}}
                            <br>
                            <small>Pincode : {{b.pincode}}</small>
                            <h5>{{b.des}}</h5>
                        </h3>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>