<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<div style="background-color: #56baed;">
    <br>
    <br>
    <div class="container">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>FeedBack</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor=" let b of feedbackService.feedback">
                        <td>{{b.fullName}}</td>
                        <td>{{b.email}}</td>
                        <td>{{b.fb}}</td>
                    </tr>
                </tbody>
            </table>
            <input style="display:block; margin-left: auto; margin-right: auto;background-color: rgba(0, 0, 0, 0.404);"
                type="submit" value="Back" (click)="Back()">
        </div>
    </div>
</div>