<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<div style="background-color: #56baed;">
    <br>
    <br>
    <form #books="ngForm">
    </form>
    <div class="container">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>News Id</th>
                        <th>Location</th>
                        <th>Headline</th>
                        <th>Description</th>
                        <th>Pincode</th>
                        <th>Category</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor=" let b of newsService.news">
                        <td>{{b.nid}}</td>
                        <td>{{b.location}}</td>
                        <td>{{b.headline}}</td>
                        <td>{{b.des}}</td>
                        <td>{{b.pincode}}</td>
                        <td>{{b.category}}</td>
                        <td>{{b.date}}</td>
                    </tr>
                </tbody>
            </table>
            <input style="display:block; margin-left: auto; margin-right: auto;background-color: rgba(0, 0, 0, 0.404);"
                type="submit" value="Back" (click)="Back()">
        </div>
    </div>
</div>