<div class="wrapper">
    <div id="formContent">
        <div>
            <img src="/assets/img/feedback1.jpg" id="icon" alt="Feedback Icon" width="30" height="170">
        </div>

        <form #feedback="ngForm" (ngSubmit)="feedback.valid && onSubmit(feedback)">

            <input type="text" #fullName="ngModel" [(ngModel)]="feedbackService.selectedFeedback.fullName"
                name="fullName" placeholder="Full Name" required
                [ngClass]="{'invalid-textbox' :feedback.submitted && !fullName.valid }">
            <div *ngIf="feedback.submitted && !fullName.valid">
                <label class="validation-message">This field is required.</label>
            </div>

            <input type="text" #email="ngModel" [(ngModel)]="feedbackService.selectedFeedback.email" name="email"
                placeholder="Email" required [pattern]="emailRegex"
                [ngClass]="{'invalid-textbox' :feedback.submitted && !email.valid }">
            <div *ngIf="feedback.submitted && email.errors">
                <label *ngIf="email.errors.required" class="validation-message">This field is required.</label>
                <label *ngIf="email.errors.pattern" class="validation-message">Invalid email address.</label>
            </div>

            <input type="text" #fb="ngModel" [(ngModel)]="feedbackService.selectedFeedback.fb" name="fb"
                placeholder="Feedback" minlength="4" required
                [ngClass]="{'invalid-textbox' :feedback.submitted && !fb.valid }">
            <div *ngIf="feedback.submitted && fb.errors">
                <label *ngIf="fb.errors.required" class="validation-message">This field is required.</label>
            </div>

            <input type="submit" value="Sign Up">
        </form>

        <!-- Success message -->
        <div class="success" *ngIf="showSucessMessage">
            Saved successfully
        </div>

        <!-- Error message -->
        <div class="alert" *ngIf="serverErrorMessages">
            {{serverErrorMessages}}
        </div>
    </div>
</div>