<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<head>
  <link rel="stylesheet" href="function.component.css">
</head>

<div class="main">
  <div class="row">

    <div class="column">
      <div class="content">
        <label style="font-size: 15px;"><b>My Profile</b></label>
        <input type="image" src="../assets/img/viewprofile.jpg" alt="Submit" (click)="profile()" height="170px"
          width="200px">
      </div>
    </div>
    <div class="column">
      <div class="content">
        <label style="font-size: 15px;"><b>Add News</b></label>
        <input type="image" src="../assets/img/addbooks.png" alt="Submit" (click)="addbooks()" height="170px"
          width="200px">
      </div>
    </div>
    <div class="column">
      <div class="content">
        <label style="font-size: 15px;"><b>View News</b></label>
        <input type="image" src="../assets/img/viewbooks.jpg" alt="Submit" (click)="viewnews()" height="170px"
          width="200px">
      </div>
    </div>
    <div class="column">
      <div class="content">
        <label style="font-size: 15px;"><b>Delete News</b></label>
        <input type="image" src="../assets/img/deletebook.jpg" alt="Submit" (click)="deletebook()" height="170px"
          width="200px">
      </div>
    </div>
    <div class="column">
      <div class="content">
        <label style="font-size: 15px;"><b>View Feedback</b></label>
        <input type="image" src="../assets/img/feedback.png" alt="Submit" (click)="viewfeedback()" height="170px"
          width="200px">
      </div>
    </div>
    <div class="column">
      <div class="content">
        <label style="font-size: 15px;"><b>Logout</b></label>
        <input type="image" src="../assets/img/logout.jpg" alt="Submit" (click)="logout()" height="170px" width="200px">
      </div>
    </div>

  </div>
</div>