<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<head>
  <link rel="stylesheet" href="page.component.css">
</head>

<div class="main">
  <div class="row">

    <div class="column">
      <div class="content">
        <label style="font-size: 15px;"><b>Student Registration</b></label>
        <input type="image" src="../assets/img/addstudent.jpg" alt="Submit" (click)="userpage()" height="170px"
          width="200px">
      </div>
    </div>
    <div class="column">
      <div class="content">
        <label style="font-size: 15px;"><b>View Books</b></label>
        <input type="image" src="../assets/img/viewnews.jpg" alt="Submit" (click)="viewnews()" height="170px"
          width="200px">
      </div>
    </div>
    <div class="column">
      <div class="content">
        <label style="font-size: 15px;"><b>FeedBack</b></label>
        <input type="image" src="../assets/img/feedback1.jpg" alt="Submit" (click)="feedback()" height="170px"
          width="200px">
      </div>
    </div>
    <div class="column">
      <div class="content">
        <label style="font-size: 15px;"><b>Back To First Page</b></label>
        <input type="image" src="../assets/img/back.jpg" alt="Submit" (click)="back()" height="170px" width="200px">
      </div>
    </div>
  </div>
</div>