 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

 <head>
   <link rel="stylesheet" href="first-page.component.css">
 </head>

 <form style="text-align: center;">
  <br>
  <br>
  <strong>News</strong> is information about current events. This may be provided through many different media: word of mouth, printing,
postal systems, broadcasting, electronic communication, or through the testimony of observers and witnesses to events.

Common topics for news reports include war, government, politics, education, health, the environment, economy, business,
fashion, and entertainment, as well as athletic events, quirky or unusual events. Government proclamations, concerning
royal ceremonies, laws, taxes, public health, and criminals, have been dubbed news since ancient times. Humans exhibit a
nearly universal desire to learn and share news, which they satisfy by talking to each other and sharing information.
Technological and social developments, often driven by government communication and espionage networks, have increased
the speed with which news can spread, as well as influenced its content. The genre of news as we know it today is
closely associated with the newspaper, which originated in China as a court bulletin and spread, with paper and printing
press, to Europe.
<br>
<br>
 </form>
